.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.price{
    color: rgb(243, 91, 149);
}
.carousel-item{
    padding: 30px 50px;
}
.button-buy-now{
    background-image: linear-gradient(to bottom, #ff589b 0%,  #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer; 
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: rgb(233, 92, 111);
}
.cat3{
    background-color: palegreen;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none;
}
body{

}
.card-text{
    font-size: 15px;
}
.subscribe{
    background-color: #fceae8;
    height: 300px;
}
.subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}